<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Capture.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="WindowsApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Capture.Properties.Settings>
            <setting name="OutputDirectory" serializeAs="String">
                <value>.\</value>
            </setting>
            <setting name="FileName" serializeAs="String">
                <value>screen</value>
            </setting>
            <setting name="IsIncrement" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ImageFormat" serializeAs="String">
                <value>Png</value>
            </setting>
            <setting name="ClipbordDataFormat" serializeAs="String">
                <value>FileDropList</value>
            </setting>
            <setting name="FormOpacity" serializeAs="String">
                <value>51</value>
            </setting>
            <setting name="CaptureWindowKey" serializeAs="String">
                <value>Ctrl+Alt+S</value>
            </setting>
            <setting name="CaptureScreenKey" serializeAs="String">
                <value>Ctrl+Alt+A</value>
            </setting>
        </Capture.Properties.Settings>
        <WindowsApplication.Properties.Settings>
            <setting name="OutputDirectory" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="FileName" serializeAs="String">
                <value>screen</value>
            </setting>
            <setting name="IsIncrement" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ImageFormat" serializeAs="String">
                <value>Png</value>
            </setting>
        </WindowsApplication.Properties.Settings>
    </userSettings>
</configuration>